
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background-image: url(../images/bg-practice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;
    font-family: 400;
    font-style: normal;
    min-height: 798px;
    color: rgb(251, 255, 0);
}

.hidden__position{
    display: none;
}

/* modal__window-121-122 start */
button{
    display: block;
    cursor: pointer;
    border: none;
    
}
.modal {
    width: 50rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: 0.2rem solid #000;
    z-index: 2;
}
.modal__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.modal__title {
    font-size: 2.5rem;
}

.modal__x {
    background-color: transparent;  /* прозрачный фон */
    color: rgb(211, 130, 9);
    font-size: 2.5rem;
}
.modal__descr {
    line-height: 2rem;
    margin-bottom: 2rem;
}
.modal__image {
    max-width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* растягивает изоброжение */
    border-radius: 0.5rem;
}
.modal__random-image {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
}
.modal__random-image button{
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 0.5rem;
}
.modal__btn-random {
    background-color: grey;
    color: #fff;
    transition: all 0.3s;
}
.modal__btn-random:hover{
    background-color: yellow;
    color: #000;
}
.modal__close-btn {
    background-color: gray;
    color: #fff;
    transition: all 0.3s;
}
.modal__close-btn:hover{
    background-color: #000;
}

.modal__window-121-122 .btn {
    position: relative;
    padding: 1rem;
    background-color: grey;
    color: #fff;
    margin: 4rem 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    z-index: 2;
    transition: all 0.3s;
}
.btn:hover{
    background-color: rgb(77, 76, 76);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.hidden{
    display: none;
}
/* modal__window-121-122 end */

/* dialog 123 start*/
.btn__dialog{
    padding: 1rem;
    background-color: orange;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem;
    border: none;
}
.dialog{
    padding: 2rem;
    border-radius: .5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}
/* dialog 123 end*/

/* burger__menu-124" start*/

.burger span{
    display: block;
    width: 3rem;
    height: .2rem;
    background-color: #fff;
}

.burger__menu-124 header{
    height: 12rem;
    padding: 1rem;
}
.burger{
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    cursor: pointer;
}
.burger__menu-124 nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    background-color: #fff;
    padding: 2rem 1.6rem;
    z-index: 11;
    transform: translateX(-40rem);
    opacity: 0;
    transition: all 0.4s;
}
.burger__menu-124 .add{
    transform: translateX(0);
    opacity: 1;
}
.burger__menu-124 .block{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.burger__menu-124 .span1{
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: #111;
    border-radius: 50%;
}
.burger__menu-124 .h2{
    font-size: 1.5rem;
    color: rgb(68, 68, 68);
    max-width: 14rem;
}
.burger__menu-124 nav a{
    display: block;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(68, 68, 68);
}
.burger__close{
    position: absolute;
    top: 2rem;
    right: -7rem;
    font-size: 3rem;
    background-color: #fff;
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.burger__overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68,68, 68, 0.6);
    z-index: 10;
}
.burger__hidden{
    display: none;
}
/* burger__menu-124" end*/


/* burger__menu2-125" start*/

.burger__menu2-125 header{
    background-color: #272727;
}
.burger__menu2-125 a{
    color: #fff;
    text-decoration: none;
}
.burger__menu2-125 .nav-item {
    list-style: none;
}
.burger__menu2-125 .navbar {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.burger__menu2-125 .nav-logo {
    font-size: 40px;
    font-weight: 700;
}
.burger__menu2-125 .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

.burger__menu2-125 .nav-link {
    font-size: 19px;
    transition: .5s ease;  /* анимация */
}
.burger__menu2-125 .nav-link:hover{
    color: rgb(5, 201, 201);
}
.burger__menu2-125 .hamburger {
    cursor: pointer;
    display: none;
}
.burger__menu2-125 .span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

@media(width < 800px){
    .burger__menu2-125 .hamburger{
        display: block;
    }
    .burger__menu2-125 .hamburger.active .span:nth-child(2){
        opacity: 0;
    }
    .burger__menu2-125 .hamburger.active .span:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger__menu2-125 .hamburger.active .span:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .burger__menu2-125 .nav-menu{
        position: fixed;
        right: -100%;
        top: 80px;
        flex-direction: column;
        background-color: #272727;
        width: 100%;
        transition: 0.3s;
    }
    .burger__menu2-125 .nav-item{
        max-width: 15px 0;
        margin: 10px;
    }
    .burger__menu2-125 .nav-menu.active{
        right: 0;
    }
}

/* burger__menu2-125" end*/

/* smooth__scrolling-126 start*/

.smooth__scrolling-126 .navigation{
    width: 100%;
    height: 80px;
    background-color: #272727;
}
.smooth__scrolling-126 ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.smooth__scrolling-126 a{
    text-decoration: none;
    color: #fff;
}
.smooth__scrolling-126 .nav-item{
    list-style: none;
    font-size: 20px;
    transition: all .4s;
}
.smooth__scrolling-126 .nav-item:hover{
    font-size: 22px;

}
.smooth__scrolling-126 .section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    border-bottom: 3px solid #fff;
    font-size: 60px;
}
.smooth__scrolling-126 .section a{
    color: #e9e9e9b0;
    padding: 1rem ;
}

/* smooth__scrolling-126 emd*/

/* tabs-127 start */

.tabs-127{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
}

.tabs-127 button{
    display: block;
    border: none;
    cursor: pointer;
}

.tabs-127 .tab{
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-127 .buttons{
    display: flex; 
    align-items: flex-start;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.tabs-127 .link{
    background-color: rgb(2, 190, 43);
    color: grey;
    font-size: 2rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    padding: 2rem 3rem 3.5rem 3rem;
    transition: all 0.3s ease;
}

.tabs-127 .link-active{
    background-color: #ffffffa2;
    color: rgb(2, 190, 43);
}

.tabs-127 .block{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.tabs-127 .images{
    width: 25rem;
    height: 25rem;
}

.tabs-127 .images img{
    width: 100%;
    height: 100%;
}

.tabs-127 .block__text{
    max-width: 50rem;
    font-size: 1.8rem;
    line-height: 3rem;
}

.tabs-127 .hidden{
    display: none;
}

/* tabs-127 end */

/* inimation__header-128 start */

.inimation__header-128 header{
    padding: 1rem 2rem;
    background-color: #262626;
    height: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .4s ease-in;
}

.inimation__header-128 .logo{
    width: 20rem;
    height: 10rem;
    transition: all .4s ease-in-out;
}

.inimation__header-128 .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain; /* сохронение пропорций */
}

.inimation__header-128 nav{
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

.inimation__header-128 .link{
    font-size: 2rem;
    transition: all .3s ease-in-out;
}

.inimation__header-128 .head{
    background-color: #161c53;
}
/* inimation__header-128 end */

/* interObsAPI-129 start */

.interObsAPI-129 a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 2rem;
}
.interObsAPI-129 header{
    background-color: #252525;
    margin-bottom: 20rem;
}
.interObsAPI-129 main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.interObsAPI-129 nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
}
.interObsAPI-129 .block{
    width: 80rem;
    height: 30rem;
    margin-bottom: 5rem;
    color: #252525;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #0075c4;
    transform: translateY(10rem);
    opacity: 0;
}

.interObsAPI-129 .k2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.interObsAPI-129 .h4{
    transition: all 0.5s ease-in-out;
    transform: translateY(-15rem);
    opacity: 1;
}
/* interObsAPI-129 end */

/* lazy_images-130 - 131 start*/

.lazy_images-130 a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 2rem;
}

.lazy_images-130 header{
    background-color: #252525;
    margin-bottom: 20rem;
}

.lazy_images-130 nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
}

.lazy_images-130 section{
    height: 100vh;
    border: 3px solid #92006e;
}

.lazy_images-130 .block{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3911e9;
    row-gap: 5rem;
}

.lazy_images-130 p{
    font-size: 2rem;
    line-height: 3.2rem;
}

.lazy_images-130 .images{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    margin-bottom: 5rem;
}
.lazy_images-130 .images img{
    width: 40rem;
    height: 25rem;
}
.lazy_images-130 .blur{ 
    transition: all 1s ease-in-out;
    filter: blur(10px) brightness(0.4);
}

/* lazy_images-130 - 131 end */

/* slider-132-133 start*/

.slider-132-133 .slider-block{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
    border-radius: 5px;
}

.slider-132-133 .slider{
    display: flex;
    transition: all 0.5s ease-in-out;
    max-width: 100%;
}

.slider-132-133 .slider img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.slider-132-133 .prev-btn, .slider-132-133 .next-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: #fff;
}
.slider-132-133 .prev-btn{
    left: 10px;
}
.slider-132-133 .next-btn{
    right: 10px;
}
.slider-132-133 main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-132-133 .slider-dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-top: 10px;  
}
.slider-132-133 .slider-dot{
    width: 18px;
    height: 18px;
    background-color: #1e648d;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.slider-132-133 .slider-dot.active{
    background-color: #fff;
}

/* slider-132-133 end */

/* rating-134 start */

.rating-134{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
    font-weight: 500;
    padding: 5rem 0;
}

.rating-134 .rating{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    background-color: #1f1f1f;
    padding: 2rem 4rem;
}

.rating-134 .r1{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.rating-134 .p1{
    color: rgb(241, 162, 15);
    font-size: 2.5rem;
}

.rating-134 .active{
    color: rgb(241, 162, 15);
}

.rating-134 i{
     font-size: 4rem;
     cursor: pointer;
     color: #e6e6e6;
}

.rating-134 .spanNumberRating{
    font-size: 3rem;
    color: #fff;
    margin-left: 1rem;
}

.rating-134 .star{
    display: flex;
    column-gap: 1rem;
}

/* rating-134 end */

/* timer-135 start */

.timer-135 a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    color: #252525;
}

.timer-135 button{
    display: block;
    border: none;
    background-color: transparent;
}
.timer-135 header{
    background-color: #fff;
    padding: 0 4rem;
    margin-bottom: 10rem;
}
.timer-135 nav {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer-135 nav a{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.timer-135 .sale{
    position: relative;
    padding: 2rem 1rem;
    background-color: #eceb98;
    min-height: 7rem;
    color: #000;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

.timer-135 .sale__p {
  max-width: 90rem;
  margin: 0 auto;
}

.timer-135 .close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
}
.timer-135 .block {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.timer-135 .block div {
  width: 40rem;
  height: 30rem;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  row-gap: 2rem;
}
.timer-135 .block div p {
  text-decoration: line-through;
}

.timer-135 .hidden {
  display: none;
}

/* timer-135 end */

/* accordion-136 start */
.accordion-136{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007bff;
}
.accordion-136 .accordion {
  display: flex;
  flex-direction: column;
  width: 45%;
  /* margin: 0 auto; */
}
.accordion-item {
  margin-bottom: 10px;
}
.accordion__block{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.accordion__block:hover {
  background-color: #ddd;
}
.accordion__h2 {
}
.accordion-136 .plus {
  font-size: 32px;
}
.accordion__content {
  padding: 20px;
  background-color: #ddd;
  display: none;
}
.accordion__content p {
  font-size: 20px;
  color: #111;
}

.accordion__block.active {
  background-color: #007bff;
  color: #fff;
}
.accordion__content.active {
  display: block;
}
.accordion-136 .plus.rotate {
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

/* accordion-136 end */

/* themes-137 start */

.themes-137{
    padding: 1rem 2rem;
    color: #3911e9;
}

.themes-137 a{
    text-decoration: none;
    font-size: 2rem;
    color: #0075c4;
    text-transform: uppercase;
    font-weight: 700;;
}
.themes-137 header{
    padding: 1rem;
    background-color: white;
    margin-bottom: 3rem;
}

.themes-137 nav{
    height: 6rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    justify-content: space-between;
}

.themes-137 btn{
    padding: 1rem;
    cursor: pointer;
    background-color: #222;
    color: #fff;
    border: none;
    font-size: 1.7rem;
}

.themes-137 .block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.themes-137 .block div{
    background-color: #f1f1f1;
    padding: 2rem;
    width: 40rem;
}

.themes-137 .block div p{
    font-size: 2.5rem;
}

.themes-137 .block__p{
    
}
/* themes-137 end */
