
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-image: url(../images/bg-practice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;
    font-family: 400;
    font-style: normal;
    min-height: 798px;
    color: rgb(251, 255, 0);
}

/* modal__window-121-122 start */
button{
    display: block;
    cursor: pointer;
    border: none;
    
}
.modal {
    width: 50rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: 0.2rem solid #000;
    z-index: 2;
}
.modal__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.modal__title {
    font-size: 2.5rem;
}

.modal__x {
    background-color: transparent;  /* прозрачный фон */
    color: rgb(211, 130, 9);
    font-size: 2.5rem;
}
.modal__descr {
    line-height: 2rem;
    margin-bottom: 2rem;
}
.modal__image {
    max-width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* растягивает изоброжение */
    border-radius: 0.5rem;
}
.modal__random-image {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
}
.modal__random-image button{
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 0.5rem;
}
.modal__btn-random {
    background-color: grey;
    color: #fff;
    transition: all 0.3s;
}
.modal__btn-random:hover{
    background-color: yellow;
    color: #000;
}
.modal__close-btn {
    background-color: gray;
    color: #fff;
    transition: all 0.3s;
}
.modal__close-btn:hover{
    background-color: #000;
}

.btn {
    position: relative;
    padding: 1rem;
    background-color: grey;
    color: #fff;
    margin: 4rem 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    z-index: 2;
    transition: all 0.3s;
}
.btn:hover{
    background-color: rgb(77, 76, 76);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.hidden{
    display: none;
}
/* modal__window-121-122 end */

/* dialog 123 start*/
.btn__dialog{
    padding: 1rem;
    background-color: orange;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem;
    border: none;
}
.dialog{
    padding: 2rem;
    border-radius: .5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}
/* dialog 123 end*/

/* burger__menu-124" start*/

.burger span{
    display: block;
    width: 3rem;
    height: .2rem;
    background-color: #fff;
}

.burger__menu-124 header{
    height: 12rem;
    padding: 1rem;
}
.burger{
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    cursor: pointer;
}
.burger__menu-124 nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    background-color: #fff;
    padding: 2rem 1.6rem;
    z-index: 11;
    transform: translateX(-40rem);
    opacity: 0;
    transition: all 0.4s;
}
.burger__menu-124 .add{
    transform: translateX(0);
    opacity: 1;
}
.burger__menu-124 .block{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.burger__menu-124 .span1{
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: #111;
    border-radius: 50%;
}
.burger__menu-124 .h2{
    font-size: 1.5rem;
    color: rgb(68, 68, 68);
    max-width: 14rem;
}
.burger__menu-124 nav a{
    display: block;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(68, 68, 68);
}
.burger__close{
    position: absolute;
    top: 2rem;
    right: -7rem;
    font-size: 3rem;
    background-color: #fff;
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.burger__overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68,68, 68, 0.6);
    z-index: 10;
}
.burger__hidden{
    display: none;
}
/* burger__menu-124" end*/


/* burger__menu2-125" start*/

.burger__menu2-125 header{
    background-color: #272727;
}
.burger__menu2-125 a{
    color: #fff;
    text-decoration: none;
}
.burger__menu2-125 .nav-item {
    list-style: none;
}
.burger__menu2-125 .navbar {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.burger__menu2-125 .nav-logo {
    font-size: 40px;
    font-weight: 700;
}
.burger__menu2-125 .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

.burger__menu2-125 .nav-link {
    font-size: 19px;
    transition: .5s ease;  /* анимация */
}
.burger__menu2-125 .nav-link:hover{
    color: rgb(5, 201, 201);
}
.burger__menu2-125 .hamburger {
    cursor: pointer;
    display: none;
}
.burger__menu2-125 .span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

@media(width < 800px){
    .burger__menu2-125 .hamburger{
        display: block;
    }
    .burger__menu2-125 .hamburger.active .span:nth-child(2){
        opacity: 0;
    }
    .burger__menu2-125 .hamburger.active .span:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger__menu2-125 .hamburger.active .span:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .burger__menu2-125 .nav-menu{
        position: fixed;
        right: -100%;
        top: 80px;
        flex-direction: column;
        background-color: #272727;
        width: 100%;
        transition: 0.3s;
    }
    .burger__menu2-125 .nav-item{
        max-width: 15px 0;
        margin: 10px;
    }
    .burger__menu2-125 .nav-menu.active{
        right: 0;
    }
}

/* burger__menu2-125" end*/