body{
    background-image: url(../images/naturmort-izi.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 200px 0 0 0;
    font-size: 80px;
    color: aqua;
    width: 100%;
    height: 100%;
    background-color: rgb(red, green, blue)
}
h1{
    font-size: 80px;
    color: yellow;
}
.wrapper{
    border: 3px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.wrapper p{
    font-size: 20px;
}
.add_btn,
.btn,
input{
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 25px;
}
.color-blue{
    background-color: white;
    color: red;
}
